In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('home_prices.csv')

In [5]:
df

   area  bedrooms  age  prices
0  2000       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [8]:
# for filling the NaN value 
# replace it with mediam
import math
mediam_bedrooms = math.floor(df.bedrooms.median())
mediam_bedrooms

3

In [9]:
df.bedrooms = df.bedrooms.fillna(mediam_bedrooms)

In [10]:
df

   area  bedrooms  age  prices
0  2000       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
reg = LinearRegression()

In [13]:
reg.fit(df[['area','bedrooms','age']],df['prices'])

LinearRegression()

In [14]:
reg.coef_

array([   72.19170404,  6410.31390135, -4523.5426009 ])

In [15]:
reg.intercept_

447125.5605380708

In [16]:
reg.predict([[3000,3,15]])

array([615078.47533632])